.bioChild {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 0%;
        border-radius: 10px;
        background-color: var(--light-green);
}

.aboutMeHello {
        margin: 0;
}
  
.aboutMeHelloContainer {
        position: absolute;
        width: 98.84%;
        top: 1.85%;
        left: 0.87%;
        letter-spacing: 0.1em;
        display: inline-block;
}

.bio {
        width: 100%;
        position: relative;
        height: 486px;
        text-align: left;
        font-size: var(--body-text-size);
        color: #fff;
        font-family: var(--body-text);
  }


  