.mainContainer{
    display: flex;
    justify-content: space-evenly; 
    flex-direction: column;
    height: 100vh;
    background-color: var(--white);
    }
            
    .mainContainer p{
    text-align: center;
    }
    
    .navBar {
    position: fixed;
    bottom: 0;
    width: 430px;
    }
    
    .button{
        width: 350px;
        height: 100px;
        margin-right: 20px;
        margin-left: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
        border-radius: 20px;
        background-color: var(--midnight);
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        }
     
    .allButtons {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        /* margin-bottom: 50px;
        margin-top: 50px; */
    }
    