:root {
--blue: #6FB3D2;
--brown: #D28E6F;
--white: #FFFF;
--width: 430px;
--purple: #B0A2C7;
--cream: #ECD9B9;
--green: #407B30;
--blue: #C0D9D9;
--midnight: #004346;
--black: #000;
--red: #9B2F2F;
}
body{
margin: 0 auto;
color: white;
background-color: var(--white);
height: 100vh;
width: var(--width);
}

a{
text-decoration: none;
color: white;
}
button{
background: transparent;
border: none;
color: white;
}
